source https://www.myget.org/F/openstacknetsdk/api/v2
source https://nuget.org/api/v2

nuget openstack.net != 1.5.0-beta1
nuget moq !>= 4.2
nuget xunit !~> 2.0.0
nuget xunit.runner.console !~> 2.0.0
nuget xunit.runner.visualstudio !~> 2.0.1
